{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h3>Tasks :</h3>
    {% if tasks %}
    <table class="responsive-table grey lighten-5">

        <thead>
            <tr>
                <th>task</th>
                <th>status</th>
                <th>action</th>

            </tr>
        </thead>

        <tbody>
            {% for task in tasks %}
            <tr class=" {{ task.completed|yesno:'grey lighten-2,' }} ">

                <td> 
                    {{ task.completed|yesno:'<del>,'|safe}}
                        {{task.item}}  
                    {{ task.completed|yesno:'</del>,'|safe}}
                </td>

                <td>{{task.completed|yesno:"Completed, Not Completed"}}</td>
                <td>Delete</td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
    {% endif %}
    

</div>

{% endblock content %}