{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h3>hello world !</h3>
    {% if tasks %}
    <ul class="collection with-header">
        <li class="collection-header">
            <h4>Tasks : </h4>
        </li>

        {% for task in tasks %}
        <li class="collection-item">
            <div> {{task.item}} <span
                    class="secondary-content">{{task.completed|yesno:"Completed, Not Completed"}}</span></div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock content %}